 

body {
    margin-top: 3rem;
    background-color: pink;
    height: 100vh;
    overflow: hidden;
}
#img-container,#content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    flex-direction: column;
}
p {
    font-family: 'Love Light', cursive;
    font-size: 2rem;
}
button {
    z-index: 3;
    font-size: 20px;
    border-radius: 8px;
    padding: 1rem 1.5rem;
}
#option-btns {
    display: flex;
    gap: 2.5rem;
}
footer {
    position: relative;
    display: flex;
    justify-content: end;
    bottom: 0;
}